a {
                padding: 10;
                color: black;
                background-color: rgb(183, 177, 157);
 }
#navbar :hover{
background-color: bisque;
 color: rgb(5, 64, 114);
}
#logo, #navbar {
    display: inline;
}

body {
    background-color: palevioletred;
}
#logo {
    float: left;
}
#navbar {
    float: right;
    font-size: xx-large;
    padding: 200;
    
}
